 <!-- Toolbar -->
<div class="toolbar" *ngIf="isLoggedin">
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="/dashboard">
      <img
        src="../assets/logo.png"
        height="30"
        alt=""
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Let's Chat</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">

      
        <button type="button" routerLink="/adduser" *ngIf="isSuperAdmin" class="btn px-3 me-2"  style="cursor: pointer;">
          Add User
       </button>
      
          <button class="btn px-3 me-2 " type="button" routerLink="/dashboard" style="cursor: pointer;">
           Dashboard
          </button>
  
            <a
              class="nav-link dropdown-toggle d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbootstrap.com/img/Photos/Avatars/img(31).jpg"
                class="rounded-circle"
                height="22"
                alt=""
                loading="lazy"
              />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="position: absolute; left: 77%;">
           
              <li>
                <button class="dropdown-item"routerLink="/profile"  style="cursor: pointer;">Upload Profile Image</button>
              </li>
              <li>
                <button class="dropdown-item" (click)="logout()"  style="cursor: pointer;">Logout</button>
              </li>
            </ul>

       
      
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
</div>                                        



<div class="container-fluid">
  <router-outlet></router-outlet>
  </div>

  <footer class="text-center">    
    Harshit Kabaria © 2021
  </footer>