<div class="container-fluid">
    <div class="row">
    <div class="col-md-5">
    
    <mat-drawer-container class="example-container" >
        <mat-drawer>Let's Chat!</mat-drawer>
        <mat-drawer-content>
          <mat-form-field appearance="fill">
            <mat-label>Select Groups</mat-label>
            <mat-select>
              <mat-option value="none">None</mat-option>
              <mat-option *ngFor="let group of regGroupObj" [value]="group.name" (onSelectionChange)="selectBasedOngroups(group.id)">{{group.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select Channel</mat-label>
            <mat-select #hasBackdrop>
              <mat-option >none</mat-option>
              <mat-option *ngFor="let channel of regchannelObj" [value]="channel.name">{{channel.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="isabletochatNow()" >Chat</button>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    </div>
    
    <div class="container" *ngIf='isgroupChannelSelected'>
        <h3 class=" text-center">Messaging</h3>
        <div class="messaging">
              <div class="inbox_msg">
              
                <div class="mesgs"  id ="messages" >
                 
                  <div class="msg_history">
                    <div class="chat-messages">
                      <ng-container *ngFor="let message of messages">
                        <div class="chat-messages-show-container">
                          <ul class="chat-messages-show-list" >
                            <li class="messageChat" style=" background-color: #ccc; width: auto; border-radius: 15px; padding: 11px;">{{message.text}}</li>
                            <p class="meta" style="text-align: end;"><time datetime="2018">{{dateNow | date :'short'}}</time></p>  
                          </ul>
                        </div>    
                      </ng-container>           
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="message"  #newMessage/>
                      <button class="msg_send_btn btn btn-primary" type="button" (click)="sendMessage()">send</button>
                    </div>
                  </div>
                </div>
              </div>          
              </div>
            </div>
        </div>
    
    
        <!-- <div id="chat">
      <h2>Chat</h2>
      <div>
        <ng-container *ngFor="let message of messages">
          <div id="message">
            {{message.text}}
          </div>
        </ng-container>
      </div>
    
      <div>
        <form (submit)="sendMessage()">
          <input name="message" [(ngModel)]="message" placeholder="Type message here.." type="text" #newMessage>
          <div>
            <button type="submit">Send</button>
          </div>
        </form>
      </div>
    </div>-->