<div class="container">
  <div class='channelSelect'>

      <label for='channelsList'>Channel:</label>
      <select name='channelsList' [(ngModel)] = 'channelName'>
          <option *ngFor="let channel of channel" value="channel.channelname">{{channel.channelname}}</option>
      </select>
      <button (click)='getChats()' class = 'btn btn-primary'>Join</button>
  </div>
</div>
<br>

<h1>Chat</h1>
<div class = container>
  <form > 
      <div class='form-group'>
          <label for='messagecontent'>New Message:</label>
          <input [(ngModel)]='messagecontent' type="text" id="messagecontent" name="messagecontent">

      </div>
      <div class='form-group'>
          <button (click)='chat()' class = 'btn btn-primary'>Send</button>
      </div>
  </form>
  <h2>Chat Messages:</h2>
  <ul>
      <li *ngFor='let message of messages'>[{{message.username}}]: {{message.message}} - {{message.messagedate}}</li>
  </ul>
</div>