<div class="header">
    <div class="my-groups">
      <div>
        <p style="font-size: 30px">dashboard</p>
      </div>
      
    </div>
    <div class="my-groups">
      <p style="font-size: 18px"> my groups: </p>
      <p *ngFor="let group of myGroups">
        {{group.name}},
      </p>
    </div>
  
  </div>
  <!-- show groups -->
  <mat-tab-group>
    <!-- super admin  role -->
    <mat-tab *ngIf="isthisSuperAdmin" label="Manage Users">
      <table class="table" style="border: 1px black solid;">
        <thead>
        <tr  style="border: 1px black solid;">

          <th scope="col"  style="border: 1px black solid;">name</th>
            <th scope="col" style="border: 1px black solid;">email</th>
              <th scope="col" style="border: 1px black solid;">role</th>
              <th scope="col" style="border: 1px black solid;">Actions   </th>
</tr>
</thead>
       <tbody>
<tr *ngFor="let user of users"   style="border: 1px black solid;">          
                          
        <td  style="border: 1px black solid;">{{user.username}}</td>
        <td  style="border: 1px black solid;">{{user.email}}</td>
        <td style="border: 1px black solid;">{{getRole(user.role)}}</td>
        <td style="border: 1px black solid;">
        <button mat-raised-button color="warn" (click)="removeUser(user)" style="width: auto;">remove</button>
        <button mat-raised-button color="accent" (click)="makeGroupSuperAdmin(user,3)" style="width: auto;">make group admin</button>
        <button mat-raised-button color="primary" (click)="makeGroupSuperAdmin(user,4)" style="width: auto;">make super admin</button>
      </td>  
      </tr>
      </tbody>
      </table>
    
    </mat-tab>
    <!-- group admin role  -->
      <mat-tab *ngIf="isGroupAdmin()" label="Create Group">
      <form class="tab-form">
        <mat-form-field>
          <label>
            <input matInput placeholder="Group Name" class="form-control" [(ngModel)]="createGroupModal.name" name="name">
          </label>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createGroup()" style="width: max-content;">Create Group</button>
      </form>
    </mat-tab>
    <mat-tab *ngIf="isGroupAdmin()" label="Manage Groups">
      <table class="table" style="border: 1px black solid;">
        <thead>
        <tr style="border: 1px black solid;">
          <th scope="col"  style="border: 1px black solid;">Group Name</th>
          <th scope="col"  style="border: 1px black solid;">Actions</th>
          </tr>
          </thead>
          <tbody>
      <tr *ngFor="let group of groups" >
        <td>{{group.groupname}}</td>
        <td>
        <button mat-raised-button color="warn" (click)="removeGroup(group)" style="width: auto;">remove</button>
      </td>
      </tr>
    </tbody>
    </table>
    </mat-tab>

    <mat-tab *ngIf="isGroupAdmin()" label="Add Group Assis">
      <table class="table" style="border: 1px black solid;">
        <thead>
        <tr style="border: 1px black solid;">
          <th scope="col"  style="border: 1px black solid;">User Name</th>
          <th scope="col"  style="border: 1px black solid;">User Email</th>

          <th scope="col"  style="border: 1px black solid;">Actions</th>
          </tr>
          </thead>
          <tbody>
      <tr *ngFor="let user of users" >
        <td>{{user.username}}</td>
      
        
        <td>{{user.email}}</td>
        <td>
        <button mat-raised-button color="accent" (click)="addUserToAssis(user)" style="width: auto;">add</button>
      </td>
      </tr>
      </tbody>
      </table>
    </mat-tab>  
    
      <!-- group assis -->
    <mat-tab *ngIf="isGroupAssis()" label="Create Channel" style="padding: 100px">
      <form class="tab-form">
        <mat-label>Select Group</mat-label>
        <mat-select>
          <mat-option *ngFor="let group of groups" [value]="group.groupname" (onSelectionChange)="onGroupSelectChange('createChannel', group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        
        <mat-form-field>
          <label>
            <input matInput placeholder="Channel Name" class="form-control" [(ngModel)]="createChannelModal.name" name="name">
          </label>
        </mat-form-field>
      
        <button mat-raised-button color="primary" (click)="createChannel()" style="width: max-content;">Create Channel</button>
      </form>
    </mat-tab>
    <mat-tab *ngIf="isGroupAssis()" label="Add User to channel">
      <form class="tab-form">
        <mat-label class="blank">Select Group</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let group of groups" [value]="group.groupname" (onSelectionChange)="selectgroupid(group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select Channel</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let channel of addusertothischannel" [value]="channel.channelname" (onSelectionChange)="onChannelSelectChange('addUserToChannel', channel)">
            {{channel.channelname}}
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select User</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let user of users"  [value]="user.username" (onSelectionChange)="onUserSelectChange('addUserToChannel', user)">
            {{user.username}}
          </mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="addUserToChannel()">Add User To Channel</button>
      </form>
   </mat-tab>
    <mat-tab *ngIf="isGroupAssis()" label="Remove user from channel">
      <form class="tab-form">
        <mat-label class="blank">Select Group</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let group of groups" [value]="group.groupname" (onSelectionChange)="selectgroupid(group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select Channel</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let channel of addusertothischannel" [value]="channel.channelname" (onSelectionChange)="getchanneluserId(channel)">
              {{channel.channelname}} 
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select User</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let user of channelUser" [value]=user.username (onSelectionChange)="onUserSelectChange('removeUserFromChannel', user)">
             {{user.username}} 
          </mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="removeFromChannel()">Remove User from Channel</button>
      </form>
   </mat-tab> 
  </mat-tab-group>
  