<div class="header">
    <div class="my-groups">
      <div>
        <p style="font-size: 30px">dashboard</p>
      </div>
      
    </div>
    <div class="my-groups">
      <p style="font-size: 18px"> my groups: </p>
      <p *ngFor="let group of myGroups">
        {{group.name}},
      </p>
    </div>
  
  </div>
  <!-- show groups -->
  <mat-tab-group>
    <!-- super admin  role -->
    <mat-tab *ngIf="isthisSuperAdmin" label="Manage Users">
      <div *ngFor="let user of users" class="row">
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{getRole(user.role)}}</p>
        <button mat-raised-button color="warn" (click)="removeUser(user)" style="width: auto;">remove</button>
        <button mat-raised-button color="accent" (click)="makeGroupAdmin(user)" style="width: auto;">make group admin</button>
        <button mat-raised-button color="primary" (click)="makeSuperAdmin(user)" style="width: auto;">make super admin</button>
      </div>
    </mat-tab>
    <!-- group admin role  -->
      <mat-tab *ngIf="isGroupAdmin()" label="Create Group">
      <form class="tab-form">
        <mat-form-field>
          <label>
            <input matInput placeholder="Group Name" class="form-control" [(ngModel)]="createGroupModal.name" name="name">
          </label>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="createGroup()" style="width: max-content;">Create Group</button>
      </form>
    </mat-tab>
    <mat-tab *ngIf="isGroupAdmin()" label="Manage Groups">
      <div *ngFor="let group of groups" class="row">
        <p>{{group.groupname}}</p>
        <button mat-raised-button color="warn" (click)="removeGroup(group)" style="width: auto;">remove</button>
      </div>
    </mat-tab>

    <mat-tab *ngIf="isGroupAdmin()" label="Add Group Assis">
      <div *ngFor="let user of users" class="row">
        <p>{{user.name}}</p>
        <mat-label>Select Group</mat-label>
        <mat-select>
          <mat-option *ngFor="let group of groups" [value]="group.groupname">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        <p>{{user.email}}</p>
        <button mat-raised-button color="accent" (click)="addUserToAssis(user)" style="width: auto;">add</button>
      </div>
    </mat-tab>  
      <!-- group assis -->
    <mat-tab *ngIf="isGroupAssis()" label="Create Channel" style="padding: 100px">
      <form class="tab-form">
        <mat-label>Select Group</mat-label>
        <mat-select>
          <mat-option *ngFor="let group of groups" [value]="group.groupname" (onSelectionChange)="onGroupSelectChange('createChannel', group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        
        <mat-form-field>
          <label>
            <input matInput placeholder="Channel Name" class="form-control" [(ngModel)]="createChannelModal.name" name="name">
          </label>
        </mat-form-field>
      
        <button mat-raised-button color="primary" (click)="createChannel()" style="width: max-content;">Create Channel</button>
      </form>
    </mat-tab>
    <mat-tab *ngIf="isGroupAssis()" label="Add User to channel">
      <form class="tab-form">
        <mat-label class="blank">Select Group</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let group of groups" [value]="group.name" (onSelectionChange)="onGroupSelectChange('addUserToChannel', group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select Channel</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let channel of addUserToChannelModal.addToChannelChannels" (onSelectionChange)="onChannelSelectChange('addUserToChannel', channel)">
            <!-- {{channel.name}} -->
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select User</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let user of removeUserToChannelModal.removeToChannelGroupUsers"  (onSelectionChange)="onUserSelectChange('addUserToChannel', user)">
            <!-- {{user.name}} -->
          </mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="addUserToChannel()">Add User To Channel</button>
      </form>
   </mat-tab>
    <mat-tab *ngIf="isGroupAssis()" label="Remove user from channel">
      <form class="tab-form">
        <mat-label class="blank">Select Group</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let group of groups" [value]="group.groupname" (onSelectionChange)="onGroupSelectChange('removeUserFromChannel', group)">
            {{group.groupname}}
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select Channel</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let channel of removeUserToChannelModal.removeToChannelChannels" (onSelectionChange)="onChannelSelectChange('removeUserFromChannel', channel)">
             <!-- {{channel.name}}  -->
          </mat-option>
        </mat-select>
        <mat-label class="blank">Select User</mat-label>
        <mat-select class="blank">
          <mat-option *ngFor="let user of removeUserToChannelModal.removeToChannelGroupUsers"  (onSelectionChange)="onUserSelectChange('removeUserFromChannel', user)">
             removeUserToChannelModal 
          </mat-option>
        </mat-select>
        <button mat-raised-button color="primary" (click)="removeFromChannel()">Remove User from Channel</button>
      </form>
   </mat-tab> 
  </mat-tab-group>
  